#mainSearch {
    min-width: 50%;
}

main.home-main {
    margin-bottom: 100px;
}

a.navi-home {
    text-decoration: none;
}

a.post-list-title {
    text-decoration: none;
}

a.post-list-title:hover {
    text-decoration: underline;
}

button.navi-btn {
    min-width: 74px;
}

button.social-login {
    width: 80px;
    height: 80px;
}

img.main-logo {
    width: 180px;
}

.two-line-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

p.keep-word {
    word-break: keep-all;
}
